/*Chamillo font*/
@font-face {
    font-family: Chamillo;
    src: url('../fonts/yagora.ttf');
}

.root{
	-fx-spacing: 40;
	-fx-alignment: baseline_center;
    -fx-font-size: 10pt;
    -fx-font-family: Chamillo;
    -fx-base: white;
    -fx-background: #406E8E;
    -fx-focus-color: white;   
}

